<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-drawer/dist/css/bootstrap-drawer.min.css" />
    <link rel="stylesheet" href="bower_components/mana/css/mana.min.css" />
    <link rel="stylesheet" href="bower_components/keyrune/css/keyrune.min.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-awusxf8AUojygHf2+joICySzB780jVvQaVCAt1clU3QsyAitLGul28Qxb2r1e5g+" crossorigin="anonymous"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="layout/mtg-app.css">

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body class="has-drawer" ng-app="mtgJsApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="navigation" class="drawer drawer-right dw-xs-10 dw-sm-6 dw-md-4 fold" aria-labelledby="navigation">
      <div class="drawer-controls">
        <a id="hamburger" data-target="#navigation" data-toggle="drawer" aria-foldedopen="false" aria-controls="navigation"
           class="c-hamburger c-hamburger--htx">
          <span>toggle menu</span>
        </a>

        <a class="navigation-control" id="chat">
          <span class="material-icons">chat</span>
          <span class="badge show-badge">1</span>
        </a>
      </div>
      <div class="drawer-contents golden-ratio--column">
        <div class="drawer-heading column--small">
          <img gravatar-src="profile.email" style="height: 80px;" /><br />
          <h4 class="drawer-title" ng-show="profile.name">{{profile.name}}</h4>
        </div>
        <div class="column--tall">
          <div class="drawer-body">
            <p>
              BODY
            </p>
          </div>
          <ul class="drawer-fullnav" menus="menuItems">
            <li ng-repeat="menu in menuItems" role="presentation" ui-sref-active="active" ng-show-or-hide-on-auth="{{menu.onAuth}}"><a data-target="#navigation" data-toggle="drawer"  ui-sref="{{menu.state.name}}">{{menu.name}}</a></li>
            <!-- login -->
            <li role="presentation" ng-hide-auth ui-sref-active="active"><a data-target="#navigation" data-toggle="drawer" ui-sref="login">log in</a></li>
            <li role="presentation" ng-show-auth><a data-target="#navigation" data-toggle="drawer" ng-click="logout()">log out</a></li>
          </ul>
          <div class="drawer-footer">
            <p class="text-muted">Made with <span class="glyphicon glyphicon-heart"></span> by tdascoli</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Add your site or application content here -->
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/home">mtg</a>
        </div>

        <div class="mobile-show navbar-mobile navbar-mobile-right">
          <a ui-sref="game"><i class="material-icons">more_horiz</i></a></li>
        </div>

        <div class="mobile-hide">
          <ul class="nav navbar-nav" menus="menuItems">
            <li ng-repeat="menu in menuItems" role="presentation" ui-sref-active="active" ng-show-or-hide-on-auth="{{menu.onAuth}}"><a ui-sref="{{menu.state.name}}">{{menu.name}}</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">

            <li class="dropdown" ui-sref-active="active" ng-show-auth>
              <a class="pointer navbar-avatar dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <img gravatar-src="profile.email" />
                <span ng-show="profile.name">{{profile.name}}</span>
                <span ng-hide="profile.name">Profile</span>
              </a>
              <ul class="dropdown-menu">
                <li><a ui-sref="account">Account</a></li>
                <li role="separator" class="divider"></li>
                <li><a ng-click="logout()" class="pointer">Log Out</a></li>
              </ul>
            </li>

            <li ng-hide-auth ui-sref-active="active">
              <a ui-sref="login">Log In</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container" full-screen-state ui-view="content"></div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-ui-router-menus/dist/angular-ui-router-menus.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/bootstrap-drawer/dist/js/drawer.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-md5/angular-md5.js"></script>
    <script src="bower_components/angular-gravatar/build/angular-gravatar.js"></script>
    <script src="bower_components/detect-mobile-browser/detectmobilebrowser.js"></script>
    <script src="bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="bower_components/ng-lodash/build/ng-lodash.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>

    <script src="scripts/account/account.controller.js"></script>

    <script src="scripts/auth/auth.controller.js"></script>
    <script src="scripts/auth/auth.service.js"></script>
    <script src="scripts/auth/auth.directives.js"></script>

    <script src="scripts/channels/channels.controller.js"></script>
    <script src="scripts/channels/channels.service.js"></script>

    <script src="scripts/channels/messages.controller.js"></script>
    <script src="scripts/channels/messages.service.js"></script>

    <script src="scripts/lobby/lobby.controller.js"></script>
    <script src="scripts/lobby/lobby.service.js"></script>
    <script src="scripts/lobby/game.controller.js"></script>
    <script src="scripts/lobby/game.service.js"></script>
    <script src="scripts/lobby/battleground.controller.js"></script>
    <script src="scripts/lobby/battleground.service.js"></script>

    <script src="scripts/decks/deck.controller.js"></script>
    <script src="scripts/decks/deck.service.js"></script>
    <script src="scripts/decks/cards.service.js"></script>
    <script src="scripts/decks/deck.parser.controller.js"></script>
    <script src="scripts/decks/deck.parser.service.js"></script>

    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/game.js"></script>
    <script src="scripts/controllers/modal.controller.js"></script>

    <script src="scripts/filters/reverse.js"></script>

    <script src="scripts/directives/common.directives.js"></script>

    <script src="scripts/angularfire/config.js"></script>
    <script src="scripts/angularfire/firebase.ref.js"></script>
    <!-- endbuild -->
</body>
</html>
