// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* main */
html, body {
  height: 100%;
}

.container-full {
  padding-left: 0;
  padding-right: 0;
  height: 100%;
}

.navbar-brand {
  font-family: 'Magic Cards Normal', $font-family--primary;
}
h1, h2, h3, h4, h5, h6 {
  //font-family: 'Beleren', $font-family--primary;
}

/* navbar */
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .drawer-controls {
    display: none;
  }
}

@media #{$media-phone} {
  .mobile-hide {
    display: none;
  }
}

/* drawer/hamburger */
.drawer-controls {
  width: $hamburger-button-width;
  padding-top: $game-action-height+10;
  padding-left: 0;
}
.drawer-right .drawer-controls {
  margin-left: -($hamburger-button-width);
}

/* additionals controls */
.navigation-control {
  background-color: $hamburger-rgba;
  color: white;
  height: $hamburger-button-height;
  width: $hamburger-button-width;
  display: block;
  margin-top: $hamburger-drawer-padding;
  position: absolute;

  .material-icons {
    padding: $hamburger-button-pad;
    font-size: $hamburger-md-size;
  }

  .badge {
    position: absolute;
    left: -6px;
    top: -6px;
    background: #ff3b30;
    visibility: hidden;
  }
}
.badge.show-badge {
  visibility: visible;
}
