<h1>Game</h1>

<pre>{{ lobbyName | json}}<br />{{ game | json}}</pre>

<div class="golden-ratio--row row--flex-height">

  <div class="row--small">
    <img gravatar-src="profile.email" />
  </div>

  <div class="row--tall">
    <strong>{{profile.name}}</strong><br />
    <select class="form-control" ng-model="selectedDeckId">
      <option ng-repeat="deck in decks" value="{{deck.$id}}">Deck: {{deck.name}}</option>
    </select>
  </div>

</div>

<hr />

[GRAVATAR] Player 2 Name<br />
[GRAVATAR] Team 2 v | Human/AI Toggle<br />
[ Random Decks: Random-Deck-Name ]
<hr />

<button class="btn btn-primary">Start</button>
