<div class="game-area">

  <div class="game-area__statusbar">

    <div class="avatar" data-life="{{game[getOpponent()].life}}">
      <img src="images/avatar/batman-512.png" />
    </div>

    <div class="toolbar">
      <div class="phase-bar">
        <ul>
          <li class="disabled">up</li>
          <li>dr</li>
          <li class="current">m1</li>
          <li class="disabled">bc</li>
          <li class="disabled">da</li>
          <li>db</li>
          <li class="disabled">fs</li>
          <li class="disabled">cd</li>
          <li class="disabled">ec</li>
          <li>m2</li>
          <li class="disabled">et</li>
          <li class="disabled">cl</li>
        </ul>
      </div>

      <div class="info-bar">
        <ul>
          <li class="toggle-playground" data-playground="hand"><i class="icon-hand"></i> 7</li>
          <li class="toggle-playground" data-playground="graveyard"><i class="icon-graveyard"></i> 1</li>
          <li><i class="icon-library"></i> 53</li>
          <li><i class="icon-flashback"></i> 0</li>
          <li><i class="ms ms-x ms-fw ms-cost" style="font-size: 1.25em;"></i> 0</li>
          <li class="toggle-playground" data-playground="exile"><i class="icon-exile"></i> 1</li>
          <li><i class="ms ms-planeswalker" style="font-size: 1.25em;"></i> 0</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="game-area__playground">

    <div class="playground__opponent">
      <div class="playground--permanents">

        <div class="mtg-card-container">
          <div class="playground--land playground-container">
            <div class="mtg-card-stack">
              <div class="mtg-card mtg-card--no-tap mtg-card--back">
                <img src="images/card-back.jpeg" />
              </div>
            </div>
          </div>

          <div class="playground--other playground-container">
            <div class="mtg-card-stack">
              <div class="mtg-card mtg-card--stacked">
                <img src="images/card-land.jpg" />

                <span class="mtg-card__name">Island</span>
              </div>
              <div class="mtg-card mtg-card--stacked">
                <img src="images/card-land.jpg" />

                <span class="mtg-card__name">Island</span>
              </div>
              <div class="mtg-card mtg-card--tapped mtg-card--stacked">
                <img src="images/card-land.jpg" />

                <span class="mtg-card__name">Island</span>
              </div>
            </div>

            <div class="mtg-card-stack">
              <div class="mtg-card mtg-card--stacked">
                <img src="images/card-land.jpg" />

                <span class="mtg-card__name">Island</span>
              </div>
              <div class="mtg-card mtg-card--stacked">
                <img src="images/card-land.jpg" />

                <span class="mtg-card__name">Island</span>
              </div>
              <div class="mtg-card mtg-card--tapped mtg-card--stacked">
                <img src="images/card-land.jpg" />

                <span class="mtg-card__name">Island</span>
              </div>
            </div>

            <div class="mtg-card-stack">
              <div class="mtg-card mtg-card--stacked">
                <img src="images/card-land.jpg" />

                <span class="mtg-card__name">Island</span>
              </div>
              <div class="mtg-card mtg-card--stacked">
                <img src="images/card-land.jpg" />

                <span class="mtg-card__name">Island</span>
              </div>
              <div class="mtg-card mtg-card--tapped mtg-card--stacked">
                <img src="images/card-land.jpg" />

                <span class="mtg-card__name">Island</span>
              </div>
            </div>

            <div class="mtg-card-stack">
              <div class="mtg-card mtg-card--stacked">
                <img src="images/card-land.jpg" />

                <span class="mtg-card__name">Island</span>
              </div>
              <div class="mtg-card mtg-card--stacked">
                <img src="images/card-land.jpg" />

                <span class="mtg-card__name">Island</span>
              </div>
              <div class="mtg-card mtg-card--tapped mtg-card--stacked">
                <img src="images/card-land.jpg" />

                <span class="mtg-card__name">Island</span>
              </div>
            </div>

            <div class="mtg-card-stack">
              <div class="mtg-card mtg-card--stacked">
                <img src="images/card-land.jpg" />

                <span class="mtg-card__name">Island</span>
              </div>
              <div class="mtg-card mtg-card--stacked">
                <img src="images/card-land.jpg" />

                <span class="mtg-card__name">Island</span>
              </div>
              <div class="mtg-card mtg-card--tapped mtg-card--stacked">
                <img src="images/card-land.jpg" />

                <span class="mtg-card__name">Island</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="playground--creatures">
        <div class="mtg-card-container">

          <div class="playground-container">
            <div class="mtg-card-stack">
              <div class="mtg-card mtg-card--battlefield" data-card-types="creature" data-card-name="Juzám Djinn">
                <img src="images/card.jpeg" />

                <span class="mtg-card__name">Juzám Djinn</span>
              <span class="mtg-card__cost">
                                <i class="ms ms-2 ms-cost ms-shadow"></i>
                                <i class="ms ms-b ms-cost ms-shadow"></i>
                                <i class="ms ms-b ms-cost ms-shadow"></i>
                            </span>
              <span class="mtg-card__attack">
                    <i class="icon-attack"></i>
                </span>
                <span class="mtg-card__p-and-t">5/5</span>
              </div>
            </div>
            <div class="mtg-card-stack">
              <div class="mtg-card">
                <img src="images/card-wb.jpeg" />
                <span class="mtg-card__name">Serra Angel</span>
                <span class="mtg-card__cost">
                                    <i class="ms ms-2 ms-cost ms-shadow"></i>
                                    <i class="ms ms-w ms-cost ms-shadow"></i>
                                    <i class="ms ms-w ms-cost ms-shadow"></i>
                                </span>
                <span class="mtg-card__block">
                    <i class="icon-block"></i>
                </span>
                <span class="mtg-card__p-and-t">4/4</span>
              </div>
            </div>

            <div class="mtg-card-stack">
              <div class="mtg-card mtg-card--stacked">
                <img src="images/card.jpeg" />
              </div>
              <div class="mtg-card mtg-card--stacked mtg-card--tapped">
                <img src="images/card.jpeg" />
              </div>
            </div>
            <div class="mtg-card-stack">
              <div class="mtg-card">
                <img src="images/card.jpeg" />
                <span class="mtg-card__name">Juzám Djinn</span>
                <span class="mtg-card__cost">
                                    <i class="ms ms-2 ms-cost ms-shadow"></i>
                                    <i class="ms ms-b ms-cost ms-shadow"></i>
                                    <i class="ms ms-b ms-cost ms-shadow"></i>
                                </span>
                <span class="mtg-card__summoned">
                    <i class="icon-summoned"></i>
                </span>
                <span class="mtg-card__p-and-t">5/5</span>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="playground__player">
      <div class="playground--creatures">
        <div class="mtg-card-container">
          <div class="playground-container">

            <div class="mtg-card-stack" ng-repeat="card in game[getPlayer()].playground.creatures track by $index">
              <div class="mtg-card mtg-card--battlefield" ng-class="{'mtg-card--tapped':card.tapped}" on-long-press="showCard(card, $index, 'playground')" ng-click="defaultAction(card)">
                <img ng-src="{{card.editions[0].image_url}}" />

                <span class="mtg-card__name">{{card.name}}</span>
                <!-- combat, summoning sickness -->
                <span class="mtg-card__summoned" ng-if="card.summoned">
                    <i class="icon-summoned"></i>
                </span>
                <span class="mtg-card__attack" ng-if="combat.attack">
                    <i class="icon-attack"></i>
                </span>
                <span class="mtg-card__block" ng-if="combat.block">
                    <i class="icon-block"></i>
                </span>
                <span class="mtg-card__p-and-t" ng-bind-html="renderPandT(card.types[0],card.power,card.toughness)"></span>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="playground--permanents">

        <div class="mtg-card-container">
          <div class="playground--land playground-container">
            <div class="mtg-card-stack" ng-repeat="card in game[getPlayer()].playground.lands track by $index">
              <div class="mtg-card mtg-card--battlefield" ng-class="{'mtg-card--tapped':card.tapped}" on-long-press="showCard(card, $index, 'playground')" ng-click="defaultAction(card)">
                <img ng-src="{{card.editions[0].image_url}}" />

                <span class="mtg-card__name">{{card.name}}</span>
              </div>
            </div>
          </div>

          <div class="playground--other playground-container">
            <div class="mtg-card-stack" ng-repeat="card in game[getPlayer()].playground.permanents track by $index">
              <div class="mtg-card mtg-card--battlefield" ng-class="{'mtg-card--tapped':card.tapped}" on-long-press="showCard(card, $index, 'playground')" ng-click="defaultAction(card)">
                <img ng-src="{{card.editions[0].image_url}}" />

                <span class="mtg-card__name">{{card.name}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  HAND -->
    <div class="playground__hand">
      <div class="mtg-card-container">

        <div class="mtg-card-stack">
          <div ng-repeat="card in game[getPlayer()].hand track by $index" class="mtg-card mtg-card--hand" on-long-press="showCard(card, $index, 'hand')" ng-click="playCardByIndex($index);">
            <img ng-src="{{card.editions[0].image_url}}" />

            <span class="mtg-card__name">{{card.name}}</span>
            <span class="mtg-card__cost" ng-bind-html="renderCost(card.cost)"></span>
            <span class="mtg-card__p-and-t" ng-class="{'hide':card.types[0]!=='creature'}" ng-bind-html="renderPandT(card.types[0],card.power,card.toughness)"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="playground__graveyard playground--hide">
      <div class="mtg-card-container">

        <div class="mtg-card-stack">
          <div ng-repeat="card in game[getPlayer()].graveyard track by $index" class="mtg-card mtg-card--hand" on-long-press="showCard(card, $index, 'hand')" ng-click="itemOnLongPress()">
            <img ng-src="{{card.editions[0].image_url}}" />

            <span class="mtg-card__name">{{card.name}}</span>
            <span class="mtg-card__cost" ng-bind-html="renderCost(card.cost)"></span>
            <span class="mtg-card__p-and-t" ng-class="{'hide':card.types[0]==='creature'}" ng-bind-html="renderPandT(card.types[0],card.power,card.toughness)"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="playground__exile playground--hide">
      <div class="mtg-card-container">

        <div class="mtg-card-stack">
          <div ng-repeat="card in game[getPlayer()].exile track by $index" class="mtg-card mtg-card--hand" on-long-press="showCard(card, $index, 'hand')" ng-click="itemOnLongPress()">
            <img ng-src="{{card.editions[0].image_url}}" />

            <span class="mtg-card__name">{{card.name}}</span>
            <span class="mtg-card__cost" ng-bind-html="renderCost(card.cost)"></span>
            <span class="mtg-card__p-and-t" ng-class="{'hide':card.types[0]==='creature'}" ng-bind-html="renderPandT(card.types[0],card.power,card.toughness)"></span>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="game-area__statusbar">

    <div class="avatar" data-life="{{game[getPlayer()].life}}">
      <img gravatar-src="profile.email" />
    </div>

    <div class="toolbar">
      <div class="info-bar">
        <ul>
          <li class="toggle-playground current" data-playground="hand"><i class="icon-hand"></i> {{game[getPlayer()].hand.length}}</li>
          <li class="toggle-playground" data-playground="graveyard"><i class="icon-graveyard"></i> {{game[getPlayer()].graveyard.length}}</li>
          <li><i class="icon-library"></i> {{game[getPlayer()].library.length}}</li>
          <li><i class="icon-flashback"></i> 0</li>
          <li><i class="ms ms-x ms-fw ms-cost"></i> {{game[getPlayer()].mana}}</li>
          <li class="toggle-playground" data-playground="exile"><i class="icon-exile"></i> {{game[getPlayer()].exile.length}}</li>
          <li><i class="ms ms-planeswalker" style="font-size: 1.25em;"></i> 0</li>
        </ul>
      </div>

      <div class="phase-bar">
        <ul>
          <li ng-repeat="phase in phases track by $index" data-phase="{{phase.phase}}" ng-class="{'disabled':phase.disabled, 'current':phase.phase===getCurrentPhase()}" ng-click="togglePhase($index)">{{phase.phase}}</li>
        </ul>
      </div>
    </div>
  </div>

</div>

<div class="game-action">
  <div class="game-action__bar">
    <button class="btn btn-primary" ng-click="nextPhase()">OK</button>
    <small>
      Priority: {{game.status.priority}}<br />
      Turn {{game.status.turn}} ({{game.status.user}})
    </small>
    <small>
      Phase: {{getCurrentPhaseName()}}<br />
      Stack: {{game.status.stack}}
    </small>
    <button class="btn" ng-click="save()">End<br />Turn</button>
  </div>
</div>

<div ng-if="idle || init" class="sleep-screen"></div>
