<div class="navbar-mobile-item">
  <a href>
    <i class="material-icons">more_horiz</i>
  </a>
</div>
<div class="stack-list list-group" ng-class="{'stack-list--hide':status.stack.length===0}">
  <a ng-repeat="card in status.stack track by $index" ng-click="showCard(card, $index, 'init')" class="list-group-item card-list--item">
    <img ng-src="{{card.editions[0].image_url}}"/>

    <div class="card-list__card-detail">
      <strong>{{card.name}}</strong>
      <p><span class="card-detail__types" ng-repeat="supertype in card.supertypes">{{supertype}}</span> <span class="card-detail__types" ng-repeat="type in card.types">{{type}}</span> <span class="card-detail__types" ng-repeat="subtype in card.subtypes">{{subtype}}</span></p>
    </div>
  </a>
</div>
