// todo responsivness text, margins, etc.
/*
  always three rows?! see mtg-app!!
*/
.mtg-card-container {
  height: 100%;

  width: 1000px;
}

.mtg-card-stack {
  float: left;
  height: 100%;

  margin-right: 5px;
}

.mtg-card {
  height: 100%;

  cursor: pointer;

  position: relative;
  /* transition tapped */

  border-radius: $xsCardBorderRadius;

  > img {
      height: 100%;
      width: auto;
  }
}

.mtg-card--sm {
  height: $smCardHeight;
  width: $smCardWidth;

  border-radius: 3px;

  box-shadow:  1px 1px 1px rgba(0, 0, 0, 0.450);
}

.mtg-library {
  background: url('#{$path-images}/card-back.jpeg');
  background-size: cover;

  height: $xsCardHeight;
  width: $xsCardWidth;

  border-radius: $xsCardBorderRadius;

  cursor: pointer;

  position: relative;
}

/* smaller parts of the card */
.mtg-card__name,
.mtg-card__p-and-t,
.mtg-card__loyalty,
.mtg-card__cost {
  position: absolute;

  font-size: 1.15em;

  @media #{$media-phone} {
    font-size: 0.75em;
  }
}

// todo height/width
.mtg-card__attack,
.mtg-card__block,
.mtg-card__summoned{
  position: absolute;

  font-size: 1.15em;

  @media #{$media-phone} {
    font-size: 0.75em;
  }

  height: 2.25em;
  width: 2.25em;
  line-height: 2.9em;

  -moz-border-radius: 50%; /* or 50% */
  border-radius: 50%; /* or 50% */

  background-color: blue;

  text-align: center;

  bottom:2px;
  left:2px;

  i {
    color: #fff;
    font-size: 1.25em;
  }
}

.mtg-card__attack {
  background-color: red;
}
.mtg-card__block {
  background-color: green;
}

.mtg-card__name,
.mtg-card__p-and-t,
.mtg-card__loyalty {
  font-family: 'Beleren', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;

  color: #fff;
  text-shadow: 1px 1px 1px #000;
  line-height: 1.15;
}
.mtg-card__name {
  top: 2px;
  left: 2px;
}
.mtg-card__cost {
  text-align: center;
  width: 100%;
  height: 20%;

  margin:auto;

  top: 0;
  bottom: 0;
  left:0;
  right:0;
}
.playground__opponent,
.playground__player {
  .mtg-card__cost {
    display: none;
  }
}
.mtg-card__p-and-t,
.mtg-card__loyalty{
  bottom: 2px;
  right: 2px;

  border: 1px solid #fff;

  background: rgba(0, 0, 0, 0.450);

  padding: 1px;
}

/* variant of cards */
.mtg-card--back {

}

.mtg-card--tapped {
  transform: rotate(90deg) scale(1) translate3d(0,0,0);

  margin: 0 ($xsCardHeight - $xsCardWidth)/2; /* width > 64 = 90 - 64 = 26 / 2 = 13 left and right */
  //bottom: -($xsCardHeight - $xsCardWidth)/2; /* bottom -13px to bottomize the card */
}

.mtg-card--stacked {
  margin-left: -20px;
  float: left;
}

.mtg-card--hand {
  float: left;

  margin-right: 5px;
}

.mtg-card--stacked:first-child {
  margin-left: 0;
}

.mtg-card--stacked:after {
  clear: both;
}

/* cards pile */
.mtg-pile {
  box-shadow:
          1px 1px   0 rgba(255, 255, 255, 0.450),

          2px 2px   0 rgba(0,   0,   0,   1.0),
          3px 3px   0 rgba(255, 255, 255, 0.450),

          4px 4px   0 rgba(0,   0,   0,   1.0),
          5px 5px   0 rgba(255, 255, 255, 0.450),

          6px 6px   0 rgba(0,   0,   0,   1.0),
          7px 7px   0 rgba(255, 255, 255, 0.450),

          8px 8px   0 rgba(0,   0,   0,   1.0),
          9px 9px   0 rgba(255, 255, 255, 0.450);

  margin-right: 9px;
}

.mtg-pile--half {
  box-shadow:
          1px 1px   0 rgba(255, 255, 255, 0.450),

          2px 2px   0 rgba(0,   0,   0,   1.0),
          3px 3px   0 rgba(255, 255, 255, 0.450),

          4px 4px   0 rgba(0,   0,   0,   1.0),
          5px 5px   0 rgba(255, 255, 255, 0.450);

  margin-right: 5px;
}

.mtg-pile--third {
  box-shadow:
          1px 1px   0 rgba(255, 255, 255, 0.450),

          2px 2px   0 rgba(0,   0,   0,   1.0),
          3px 3px   0 rgba(255, 255, 255, 0.450);

  margin-right: 3px;
}
/*
.card-list {
  height: inherit;
  overflow-y: scroll;
}
*/
.card-list--item {

  display: flex;

  > img {
    height: 80px;
  }
}

.card-list__card-detail {
  margin: 0 5px;
  flex-grow: 2;
}

.card-list--card-view {
  //position: fixed;
}

.card-list__cost-set {
  text-align: right;
}

.card-list__set {
  padding: 2px;
  color: #fff;
  font-weight: 700;
  background: $color-common;
}
.card-list__set.uncommon {
  background: $color-uncommon;
}

.card-list__set.rare {
  background: $color-rare;
}

.card-list__set.mythic {
  background: $color-mythic;
}

/* card-detail */
.card-detail__types {
  text-transform: capitalize;
}

.card-detail__text {
  white-space: pre-wrap;

  .ms {
    font-size: 0.75em;
  }
}

.card-detail__image {
  height:100%;
}

.card-modal {
  min-height: 310px;
}

.card-modal__image {
  text-align: center;
  margin-bottom: 1em;
}


