//* game area */
.avatar img {
  height: $game-action-height;
  width: $game-action-height;
}

.avatar[data-life]:after {
  content: attr(data-life);
  color: white;
  font-weight: 700;
  font-size: 24px;
  text-shadow: 1px 1px 1px #000;

  position: relative;
  left: 2px;
  top: -35px;
}

.avatar[data-player]:before {
  content: attr(data-player) '\a' attr(data-name);
  white-space: pre;
  line-height: 1.0;

  color: white;
  font-weight: 700;
  font-size: 10px;
  text-shadow: 1px 1px 1px #000;
  position: absolute;
  left: 2px;
  display: inline-block;
}

.game-area {
  //background-color: $ga-bg-color-playground;
  height: calc(100% - #{$game-action-height});
}

.game-area__statusbar {
  height: $game-action-height;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  > div {
    height: 100%;
  }

  .avatar {
    flex-basis: $game-action-height;
  }

  .toolbar {
    flex-basis: auto;
    flex-grow: 1;
  }
}

.game-area__playground {
  height: calc(100% - (#{$game-action-height}*2));
}

.playground__opponent,
.playground__player {

  height: (100% / 7 * 3);
  @media #{$media-phone} {
    height: (100% / 5 * 2);
  }

  overflow-y: hidden;
}

.playground__player {
  border-top: 2px solid $ga-border-color-playground;
}

.playground__hand,
.playground__opponent-hand {
  height: (100% / 7);
  @media #{$media-phone} {
    height: (100% / 5);
  }
  background-color: $ga-bg-color-player-bar;

  padding: 2px 0;

  overflow-y: hidden;
}

.playground__opponent-hand {
  z-index: 1000;
  position: relative;
}

.playground--hide{
  display: none;
}


.playground--creatures {
  height: 33%;
  @media #{$media-phone} {
    height: 50%;
  }
  overflow-y: hidden;
}
.playground--permanents {
  height: 66%;
  @media #{$media-phone} {
    height: 50%;
  }
  overflow-y: hidden;
}

.playground__opponent .playground--permanents,
.playground__opponent .playground--creatures {
  padding-top: 4px;
}

.playground__player .playground--permanents,
.playground__player .playground--creatures {
  padding-bottom: 4px;
}

.playground-container {
  height: 100%;
  white-space: nowrap;
}

.playground--land.playground-container,
.playground--other.playground-container {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .playground--land.playground-container,
  .playground--other.playground-container {
    height: 50%;
    display: block;
  }
}

.op-life,
.my-life {
  color: white;
  font-weight: 700;
  font-size: 24px;

  position: absolute;
}
.op-life {
  top: 0;
}
.my-life {
  bottom: -30px;
}

.phase-bar {
  line-height: $phase-bar-height;

  ul {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    li {
      flex-grow: 1;
      color: white;
      font-weight: 700;
      text-align: center;
      background-color: $ga-bg-color-phase;
      list-style: none;
      border-right: 1px solid $ga-bg-color-bar;
      text-transform: uppercase;
    }

    li.current {
      background-color: $ga-bg-color-phase-current;
    }

    li.disabled {
      background-color: $ga-bg-color-phase-disabled;
    }

    li:last-child {
      border-right: none;
    }
  }
}

.info-bar {
  background-color: $ga-bg-color-bar;
  height: ($game-action-height - $phase-bar-height);

  ul {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    li {
      line-height: ($game-action-height - $phase-bar-height);
      flex-grow: 1;
      color: white;
      font-weight: 700;
      text-align: center;
      list-style: none;

      i {
        color: #000;
      }
    }

    li.current {
      background-color: $ga-bg-color-player-bar;
    }
  }
}

.game-action {
  height: $game-action-height;
}
.game-action__bar {
  margin: 0.25em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  small {
    line-height: 1.7;
  }
  .btn {
    line-height: 1.15;
  }
}

.sleep-screen {
  opacity: 0.33;
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.chat-modal {
  height: 310px;
  overflow: auto;
}
