/* column */
.golden-ratio--column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.golden-ratio--column .column--tall {
  height: $golden-ratio-tall;
  width: 100%;

  display: block;
}
.golden-ratio--column .column--small {
  height: $golden-ratio-small;
  width: 100%;

  display: block;
}

/* row */
.golden-ratio--row {
  display: flex;
  flex-direction: row;
  height: 100%;

}

.golden-ratio--row .row--tall {
  width: $golden-ratio-tall;
  height: 100%;

  display: block;
}
.golden-ratio--row .row--small {
  width: $golden-ratio-small;
  height: 100%;

  display: block;
}

/* mobile */
@media #{$media-phone} {
  .golden-ratio--row.no-mobile {
    display: block;
  }

  .golden-ratio--row .row--tall,
  .golden-ratio--row .row--small {
    width: 100%;
  }
}
