/* main */
html, body {
  height: 100%;
}

.container-full {
  padding-left: 0;
  padding-right: 0;
  height: 100%;
}

.navbar-brand {
  font-family: 'Magic Cards Normal', $font-family--primary;
}
h1, h2, h3, h4, h5, h6 {
  //font-family: 'Beleren', $font-family--primary;
}

/* navbar */
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .drawer-controls {
    display: none;
  }
}

/* hide */
@media #{$media-phone} {
  .mobile-hide {
    display: none;
  }
}

.hide {
  display: none;
}

/* drawer/hamburger */
.drawer-controls {
  width: $hamburger-button-width;
  padding-top: $game-action-height+10;
  padding-left: 0;
}
.drawer-right .drawer-controls {
  margin-left: -($hamburger-button-width);
}

/* additionals controls */
.navigation-control {
  background-color: $hamburger-rgba;
  color: white;
  height: $hamburger-button-height;
  width: $hamburger-button-width;
  display: block;
  margin-top: $hamburger-drawer-padding;
  position: absolute;

  .material-icons {
    padding: $hamburger-button-pad;
    font-size: $hamburger-md-size;
  }

  .badge {
    position: absolute;
    left: -6px;
    top: -6px;
    background: #ff3b30;
    visibility: hidden;
  }
}
.badge.show-badge {
  visibility: visible;
}
.navbar-nav>li>a.navbar-avatar {
  padding: 14px 10px 10px 10px;
}
.navbar-avatar img {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;

  height: 40px;
}
.pointer {
  cursor: pointer;
}


/* login */
.login-container {

}

/* buttons */
.btn-active {
  color: #ffffff;
  background-color: #ccc;
  border-color: transparent;
}
