<div class="card-list--toolbar" ng-hide="mobile">
  <p />

  <button class="btn btn-default" ng-click="removeCard(1)" ng-disabled="card===undefined">Remove card</button>
  <button class="btn btn-default" ng-click="removeCard(4)" ng-disabled="card===undefined">Remove 4 cards</button>

  <span ng-show="idle">loading...</span>
</div>

<p />

<div class="list-group card-list">
  <a ng-click="showCard(card.id)" class="list-group-item card-list--item"
     ng-repeat="card in deck.main track by $index">
    <img ng-src="{{card.editions[0].image_url}}"/>

    <div class="card-list__card-detail">
      <strong>{{card.name}}</strong>
      <p><span class="card-detail__types" ng-repeat="supertype in card.supertypes">{{supertype}}</span> <span class="card-detail__types" ng-repeat="type in card.types">{{type}}</span> <span class="card-detail__types" ng-repeat="subtype in card.subtypes">{{subtype}}</span></p>
    </div>

    <div class="card-list__cost-set">
      <div render-cost="card.cost"></div>
      <i class="ss ss-2x {{renderExpansion(card.editions[0].set_id,card.editions[0].rarity)}}"></i>
    </div>
  </a>
</div>
