<div class="card-list--toolbar">
  <div class="btn-group">
    <a id="color-white" ng-click="toggleParam({param:'color',value:'white'})" class="btn btn-default"><i
      class="ms ms-w ms-cost"></i></a>
    <a id="color-blue" ng-click="toggleParam({param:'color',value:'blue'})" class="btn btn-default"><i
      class="ms ms-u ms-cost"></i></a>
    <a id="color-black" ng-click="toggleParam({param:'color',value:'black'})" class="btn btn-default"><i
      class="ms ms-b ms-cost"></i></a>
    <a id="color-red" ng-click="toggleParam({param:'color',value:'red'})" class="btn btn-default"><i
      class="ms ms-r ms-cost"></i></a>
    <a id="color-green" ng-click="toggleParam({param:'color',value:'green'})" class="btn btn-default"><i
      class="ms ms-g ms-cost"></i></a>
    <a id="color-colorless" ng-click="toggleParam({param:'color',value:'colorless'})" class="btn btn-default"><i
      class="ms ms-c ms-cost"></i></a>
    <a id="multicolor-true" ng-click="toggleParam({param:'multicolor',value:'true'})" class="btn btn-default">mc</a>
  </div>
  <p></p>
  <div class="btn-group">
    <a id="type-land" ng-click="toggleParam({param:'type',value:'land'})" class="btn btn-default"><i
      class="ms ms-land ms-fw"></i></a>
    <a id="type-artifact" ng-click="toggleParam({param:'type',value:'artifact'})" class="btn btn-default"><i
      class="ms ms-artifact ms-fw"></i></a>
    <a id="type-creature" ng-click="toggleParam({param:'type',value:'creature'})" class="btn btn-default"><i
      class="ms ms-creature ms-fw"></i></a>
    <a id="type-enchantment" ng-click="toggleParam({param:'type',value:'enchantment'})" class="btn btn-default"><i
      class="ms ms-enchantment ms-fw"></i></a>
    <a id="type-planeswalker" ng-click="toggleParam({param:'type',value:'planeswalker'})" class="btn btn-default"><i
      class="ms ms-planeswalker ms-fw"></i></a>
    <a id="type-instant" ng-click="toggleParam({param:'type',value:'instant'})" class="btn btn-default"><i
      class="ms ms-instant ms-fw"></i></a>
    <a id="type-sorcery" ng-click="toggleParam({param:'type',value:'sorcery'})" class="btn btn-default"><i
      class="ms ms-sorcery ms-fw"></i></a>
  </div>
  <p></p>
  <div class="golden-ratio--row">

    <div class="form-group row--tall">
      <label class="sr-only">search</label>
      <input type="text" class="form-control" placeholder="search" ng-model="params.search.value"/>
    </div>

    <div class="form-group row--small">
      <label class="sr-only">in:</label>
      <select class="form-control" ng-model="params.search.param" ng-init="params.search.param='name'">
        <option value="name">in: name</option>
        <option value="type">in: type</option>
        <option value="oracle">in: text</option>
        <option value="set">in: set</option>
      </select>
    </div>

  </div>

  <div class="golden-ratio--row">

    <div class="form-group row--tall">
      <label class="sr-only">format:</label>
      <select class="form-control" ng-model="params.search.format">
        <option value="" ng-selected="true">all formats</option>
        <option value="vintage">vintage</option>
        <option value="legacy">legacy</option>
        <option value="modern">modern</option>
        <option value="standard">standard</option>
        <option value="commander">commander</option>
      </select>
    </div>

    <div class="row--small">
      <button class="btn btn-default btn-block" ng-click="filterCards()">filter</button>
    </div>

  </div>

  <div ng-hide="mobile">
    <div class="btn-group" uib-dropdown ng-disabled="card===undefined">
      <button id="add-main-card" type="button" class="btn btn-primary" ng-click="addCard(1)">Add card</button>
      <button type="button" class="btn btn-primary" uib-dropdown-toggle>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="add-main-card">
        <li role="menuitem"><a class="pointer" ng-click="addCard(2)">Add 2 cards</a></li>
        <li role="menuitem"><a class="pointer" ng-click="addCard(3)">Add 3 cards</a></li>
        <li role="menuitem"><a class="pointer" ng-click="addCard(4)">Add 4 cards</a></li>
      </ul>
    </div>
  </div>

  <hr/>

  <button class="btn btn-default" ng-click="pagination('prev')" ng-disabled="params.pagination.page===0">Previous
  </button>
  <button class="btn btn-default" ng-click="pagination('next')" ng-disabled="cards.length<100">Next</button>

  <span ng-show="idle">loading...</span>
</div>

<p/>

<div class="list-group card-list">
  <div ng-repeat="card in cards" class="list-group-item card-list--item">
    <img ng-click="showCard(card.id, false)" ng-src="{{card.editions[0].image_url}}"/>

    <div class="card-list__card-detail">
      <strong>{{card.name}}</strong>
      <p><span class="card-detail__types" ng-repeat="supertype in card.supertypes">{{supertype}}</span> <span
        class="card-detail__types" ng-repeat="type in card.types">{{type}}</span> <span class="card-detail__types"
                                                                                        ng-repeat="subtype in card.subtypes">{{subtype}}</span>
      </p>
    </div>

    <div class="card-list__cost-set">
      <div render-cost="card.cost"></div>

      <br />

      <button class="btn btn-default" ng-click="addCardById(card.id,false)" ng-if="card.editions.length===1">
        <i class="ss ss-2x {{renderExpansion(card.editions[0].set_id,card.editions[0].rarity)}}"></i>
        <span class="card-list__set" render-rarity="card.editions[0].rarity">{{card.editions[0].set_id}}</span>
      </button>

      <div class="btn-group btn-group-narrow" uib-dropdown ng-if="card.editions.length>1">
        <button id="editions" type="button" class="btn btn-default" ng-click="addCardById(card.id,false)">
          <i class="ss ss-1_5x {{renderExpansion(card.editions[0].set_id,card.editions[0].rarity)}}"></i>
          <span class="card-list__set" render-rarity="card.editions[0].rarity">{{card.editions[0].set_id}}</span>
        </button>
        <button type="button" class="btn btn-default" uib-dropdown-toggle>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="editions">
          <li role="menuitem" ng-repeat="edition in card.editions | orderBy:'multiverse_id'">
            <a ng-click="addCardById(card.id,edition.set_id)">
              <i class="ss ss-2x {{renderExpansion(edition.set_id,edition.rarity)}}"></i>
              <span class="card-list__set" render-rarity="edition.rarity">{{edition.set_id}}</span>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
