<div class="card-list--toolbar" ng-hide="mobile">
  <p />

  <div class="btn-group" uib-dropdown ng-disabled="card===undefined">
    <button id="add-main-card" type="button" class="btn btn-primary" ng-click="addCard(1,0)">Add card</button>
    <button type="button" class="btn btn-primary" uib-dropdown-toggle>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="add-main-card">
      <li role="menuitem"><a class="pointer" ng-click="addCard(2,0)">Add 2 cards</a></li>
      <li role="menuitem"><a class="pointer" ng-click="addCard(3,0)">Add 3 cards</a></li>
      <li role="menuitem"><a class="pointer" ng-click="addCard(4,0)">Add 4 cards</a></li>
    </ul>
  </div>

  <span ng-show="idle">loading...</span>
</div>

<p />

<div class="list-group card-list">
  <a ng-click="showCard(card.id,$index)" class="list-group-item card-list--item"
     ng-repeat="card in deck.main track by $index">
    <img ng-src="{{card.editions[0].image_url}}"/>

    <div class="card-list__card-detail">
      <strong>{{card.name}}</strong>
      <p><span class="card-detail__types" ng-repeat="supertype in card.supertypes">{{supertype}}</span> <span class="card-detail__types" ng-repeat="type in card.types">{{type}}</span> <span class="card-detail__types" ng-repeat="subtype in card.subtypes">{{subtype}}</span></p>
    </div>

    <div class="card-list__cost-set">
      <div render-cost="card.cost"></div>
      <i class="ss ss-2x {{renderExpansion(card.editions[0].set_id,card.editions[0].rarity)}}"></i>
      <span class="card-list__set" render-rarity="card.editions[0].rarity">{{card.editions[0].set_id}}</span>
    </div>
  </a>
</div>
