<h1>Deck: {{deck.name}}</h1>

<uib-tabset ng-show="mobile">
  <uib-tab index="0" heading="Card Catalog">
    <ng-include src="'views/decks/editor-catalog.html'"></ng-include>
  </uib-tab>
  <uib-tab index="1" heading="Main Deck">
    <ng-include src="'views/decks/editor-main.html'"></ng-include>
  </uib-tab>
  <uib-tab index="2" heading="Sideboard">
    <ng-include src="'views/decks/editor-card.html'"></ng-include>
  </uib-tab>
</uib-tabset>

<div class="golden-ratio--row no-mobile" class="tab-content" ng-hide="mobile">

  <!-- catalog -->
  <div class="row--small">

    <ng-include src="'views/decks/editor-catalog.html'"></ng-include>

  </div>
  <!-- /catalog -->

  <div class="row--tall">

    <div class="golden-ratio--row no-mobile">

      <!-- main deck -->
      <div class="row--tall">

        <ng-include src="'views/decks/editor-main.html'"></ng-include>

      </div>
      <!-- catalog -->

      <!-- detail -->
      <div class="row--small golden-ratio--column real-mobile-hide">

        <ng-include src="'views/decks/editor-card.html'"></ng-include>

      </div>
      <!-- /detail -->
    </div>

  </div>

</div>

</div>
