<h1 ng-hide="mobile">Deck: {{deck.name}}</h1>

<div class="golden-ratio--row row--flex-height">

  <div class="form-group row--tall">
    <label class="sr-only">Deck Name:</label>
    <input type="text" class="form-control" ng-model="deck.name" placeholder="Deck Name" />
  </div>

  <div class="row--small">
    <button class="btn btn-primary" ng-click="saveDeck()">Save</button>
  </div>

</div>

<uib-tabset ng-show="mobile">
  <uib-tab index="0" heading="Card Catalog">
    <ng-include src="'views/decks/editor-catalog.html'"></ng-include>
  </uib-tab>
  <uib-tab index="1" heading="Main Deck">
    <ng-include src="'views/decks/editor-main.html'"></ng-include>
  </uib-tab>
  <uib-tab index="2" heading="Sideboard">
    <ng-include src="'views/decks/editor-side.html'"></ng-include>
  </uib-tab>
</uib-tabset>

<div class="golden-ratio--row no-mobile" class="tab-content" ng-hide="mobile">

  <!-- catalog -->
  <div class="row--small">

    <ng-include src="'views/decks/editor-catalog.html'"></ng-include>

  </div>
  <!-- /catalog -->

  <div class="row--tall">

    <div class="golden-ratio--row no-mobile">

      <!-- main deck -->
      <div class="row--tall">

        <ng-include src="'views/decks/editor-main.html'"></ng-include>

      </div>
      <!-- catalog -->

      <!-- detail -->
      <div class="row--small golden-ratio--column">
        <div class="mobile-hide">
          <ng-include src="'views/decks/editor-card.html'"></ng-include>
        </div>
      </div>
      <!-- /detail -->
    </div>

  </div>

</div>

</div>
