<h1 ng-hide="mobile">Deck: {{deck.name}}</h1>

<div class="golden-ratio--row row--flex-height">

  <div class="form-group row--tall">
    <label class="sr-only">Deck Name:</label>
    <input type="text" class="form-control" ng-model="deck.name" placeholder="Deck Name" />
  </div>

  <div class="row--small">
    <button class="btn btn-primary" ng-click="saveDeck()">Save</button>
  </div>

</div>

<uib-tabset ng-show="mobile" active="1">
  <uib-tab index="0" heading="Card Catalog">
    <ng-include src="'views/decks/editor/catalog.html'"></ng-include>
  </uib-tab>
  <uib-tab index="1" heading="Main Deck ({{deck.main.length}})">
    <ng-include src="'views/decks/editor/main.html'"></ng-include>
  </uib-tab>
  <uib-tab index="2" heading="Sideboard ({{deck.sideboard.length}})">
    <ng-include src="'views/decks/editor/sideboard.html'"></ng-include>
  </uib-tab>
</uib-tabset>

<div class="golden-ratio--row no-mobile" class="tab-content" ng-hide="mobile">

  <!-- catalog -->
  <div class="row--small">

    <ng-include src="'views/decks/editor/catalog.html'"></ng-include>

  </div>
  <!-- /catalog -->

  <div class="row--tall">

    <div class="golden-ratio--row no-mobile">

      <!-- main deck -->
      <div class="row--tall">

        <uib-tabset>
          <uib-tab index="1" heading="Main Deck ({{deck.main.length}})">
            <ng-include src="'views/decks/editor/main.html'"></ng-include>
          </uib-tab>
          <uib-tab index="2" heading="Sideboard ({{deck.sideboard.length}})">
            <ng-include src="'views/decks/editor/sideboard.html'"></ng-include>
          </uib-tab>
        </uib-tabset>

      </div>
      <!-- catalog -->

      <!-- detail -->
      <div class="row--small">
        <div class="mobile-hide card-list--card-view">
          <ng-include src="'views/decks/editor/card.html'"></ng-include>
        </div>
      </div>
      <!-- /detail -->
    </div>

  </div>

</div>

</div>
