<div class="column--small" ng-show="card!==undefined">
  <img ng-src="{{card.editions[0].image_url}}" class="card-detail__image" />
</div>
<div class="column--tall" ng-show="card!==undefined">
  <hr/>

  <p>
    <strong>{{card.name}}</strong> <span class="card-detail__text" ng-bind-html="renderCost(card.cost)"></span>
  </p>
  <strong class="card-detail__types">{{card.types[0]}}</strong> <i
  class="ss ss-2x {{renderExpansion(card.editions[0].set_id,card.editions[0].rarity)}}"></i>
  <hr/>
  <p class="card-detail__text" ng-bind-html="renderOracle(card.text)"></p>
</div>
