<div class="modal-header">
  <button type="button" class="close" ng-click="closeModalCard()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>{{card.name}}</strong> <span ng-bind-html="renderCost(card.cost)"></span>
</div>
<div class="modal-body" id="modal-body">

  <div class="card-modal__image" ng-hide="show==='detail'">
    <img ng-src="{{card.editions[0].image_url}}" class="card-detail__image" />
  </div>

  <div ng-show="show==='detail'">
    <strong>
      <span class="card-detail__types" ng-repeat="supertype in card.supertypes">{{supertype}}</span>
      <span class="card-detail__types" ng-repeat="type in card.types">{{type}}</span>
      <span class="card-detail__types" ng-repeat="subtype in card.subtypes">{{subtype}}</span>
    </strong>

    <i class="ss ss-2x {{renderExpansion(card.editions[0].set_id,card.editions[0].rarity)}}"></i>

    <hr/>

    <p class="card-detail__text" ng-bind-html="renderOracle(card.text)"></p>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-show="show==='detail'" ng-click="show='card'">Card</button>
  <button class="btn btn-default" type="button" ng-hide="show==='detail'" ng-click="show='detail'">Details</button>



  <button class="btn btn-default" type="button">Add Card</button>
  <button class="btn btn-default" type="button">Add 4 Cards</button>
</div>
