<div class="modal-header">
  <button type="button" class="close" ng-click="closeModalCard()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>{{card.name}}</strong> <span ng-bind-html="renderCost(card.cost)"></span>
</div>
<div class="card-modal modal-body" id="modal-body">

  <uib-tabset>
    <uib-tab index="0" heading="Card">
      <div class="card-modal__image">
        <img ng-src="{{currentEdition.image_url}}" class="card-detail__image" />
      </div>
    </uib-tab>
    <uib-tab index="1" heading="Detail">
        <strong>
          <span class="card-detail__types" ng-repeat="supertype in card.supertypes">{{supertype}}</span>
          <span class="card-detail__types" ng-repeat="type in card.types">{{type}}</span>
          <span class="card-detail__types" ng-repeat="subtype in card.subtypes">{{subtype}}</span>
        </strong>

        <i class="ss ss-2x {{renderExpansion(currentEdition.set_id,currentEdition.rarity)}}"></i>

        <hr/>

        <p class="card-detail__text" ng-bind-html="renderOracle(card.text)"></p>
        <i class="card-detail__text">{{currentEdition.flavor}}</i>
    </uib-tab>
  </uib-tabset>

</div>
<div class="modal-footer">
  <div class="btn-group btn-group-narrow" uib-dropdown ng-if="card.editions.length>1">
    <button id="editions" type="button" class="btn btn-default" uib-dropdown-toggle>
      <i class="ss ss-1_5x {{renderExpansion(currentEdition.set_id,currentEdition.rarity)}}"></i>
      <span class="card-list__set" render-rarity="currentEdition.rarity">{{currentEdition.set_id}}</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="editions">
      <li role="menuitem" ng-repeat="edition in card.editions | orderBy:'multiverse_id'">
        <a ng-click="setCurrentEdition(edition)">
          <i class="ss ss-2x {{renderExpansion(edition.set_id,edition.rarity)}}"></i>
          <span class="card-list__set" render-rarity="edition.rarity">{{edition.set_id}}</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- Add to Sideboard?! -->

  <div class="btn-group" uib-dropdown>
    <button id="split-button" type="button" class="btn btn-primary" ng-click="addCard(1); closeModalCard()">Add card</button>
    <button type="button" class="btn btn-primary" uib-dropdown-toggle>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
      <li role="menuitem"><a class="pointer" ng-click="addCard(2,true); closeModalCard()">Add 2 cards</a></li>
      <li role="menuitem"><a class="pointer" ng-click="addCard(3,true); closeModalCard()">Add 3 cards</a></li>
      <li role="menuitem"><a class="pointer" ng-click="addCard(4,true); closeModalCard()">Add 4 cards</a></li>
      <li class="divider"></li>
      <li role="menuitem"><a class="pointer" ng-click="addCard(1,false); closeModalCard()">Add card to Sideboard</a></li>
      <li role="menuitem"><a class="pointer" ng-click="addCard(2,false); closeModalCard()">Add 2 cards to Sideboard</a></li>
      <li role="menuitem"><a class="pointer" ng-click="addCard(3,false); closeModalCard()">Add 3 cards to Sideboard</a></li>
      <li role="menuitem"><a class="pointer" ng-click="addCard(4,false); closeModalCard()">Add 4 cards to Sideboard</a></li>
    </ul>
  </div>

  <button class="btn btn-warning" ng-click="removeCard(); closeModalCard()" ng-disabled="card.deck===false">Remove</button>
</div>
